:root {
  --font-weight-headings-primary: 400;
  --font-style-headings-primary: normal;
  --font-stack-body-primary: "Noto Sans Japanese", sans-serif;
  --font-weight-body-primary: 400;
  --font-weight-body-primary-bold: 600;
  --font-weight-body-primary-medium: 500;
  --font-style-body-primary: normal;
  --font-stack-body-secondary: "Noto Sans Japanese", sans-serif;
  --font-weight-body-secondary: 400;
  --font-weight-body-secondary-bold: 600;
  --font-style-body-secondary: normal;
  --font-weight-menu: var(--font-weight-body-primary-medium);
  --font-weight-buttons: var(--font-weight-body-primary-medium);
  --base-headings-primary-size: 44;
  --base-headings-secondary-size: ;
  --base-headings-line: 1.3;
  --base-headings-spacing: 0.0em;
  --base-body-primary-size: 16;
  --base-body-secondary-size: 18;
  --base-body-line: 1.4;
  --color-text-header: #000000;
  --color-foreground-header: #fff;
  --color-borders-header: rgba(0, 0, 0, 0.15);
  --color-background-main: #FFFFFF;
  --color-secondary-background-main: rgba(0, 0, 0, 0.08);
  --color-third-background-main: rgba(0, 0, 0, 0.04);
  --color-fourth-background-main: rgba(0, 0, 0, 0.02);
  --color-opacity-background-main: rgba(255, 255, 255, 0);
  --color-text-main: #000000;
  --color-foreground-main: #fff;
  --color-secondary-text-main: rgba(0, 0, 0, 0.6);
  --color-borders-main: rgba(0, 0, 0, 0.1);
  --color-background-main-alternate: #f2f2f2;
  --color-background-product-card: rgba(0,0,0,0);
  --color-background-cart-card: rgba(0,0,0,0);
  --color-background-footer: #ffffff;
  --color-text-footer: #000000;
  --color-borders-footer: rgba(0, 0, 0, 0.15);
  --color-borders-forms-primary: rgba(0, 0, 0, 0.3);
  --color-borders-forms-secondary: rgba(0, 0, 0, 0.6);
  --border-radius-cards: 0px;
  --border-width-buttons: 1px;
  --border-radius-buttons: 30px;
  --border-width-forms: 1px;
  --border-radius-forms: 6px;
  --border-radius-widgets: 10px;
  --border-radius-product-card: 0px;
  --grid-gap-original-base: 32px;
  --container-vertical-space-base: 120px;
  --image-fit-padding: 10%;
  --indicator-next-arrow: url(//kr.sidiz.com/cdn/shop/files/right.svg?v=6520943502531889426);
}
